<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key ="helperTableName" value ="TestTable"/>
    <add key ="helperSchema" value ="dbo"/>
    <!-- The file group name-->
    <add key="FileGroupName" value="MoFg" />
    <!-- The file name -->
    <add key="FileName" value="MoFileName" />
    <!--The container path -->
    <add key="MoPath" value="C:\MOCONTAINTER" />

    <add key ="MOIndexEp" value="MoIndexEp"/>
  </appSettings>
</configuration>